#contact {
	background: #48A4B1;
	padding: 4em 3em;

	label {
	    display:block;
	    margin-top:20px;
	    letter-spacing:2px;
	}

	form {
	    margin:0 auto;
	    width:459px;
	    padding-left: 10px;
	}

	input, textarea, file {
		width:339px;
		height:27px;
		background-color:#efefef;
		border-radius:5px;
		-moz-border-radius:5px;
		-webkit-border-radius:5px;
		border:1px solid #dedede;
		padding:10px;
		margin-top:3px;
		font-size:0.9em;
		color:#3a3a3a;
	}

	input:focus, textarea:focus {
			outline: none !important;
	    	border:1px solid #BD92CF;
	    	box-shadow: 0 0 15px #2E4164;
		}

	textarea {
		height:213px;
		background-color: #efefef;
	}


	#submit {
		height:48px;
		text-align: center;
		border:none;
		margin-top:20px;
		cursor:pointer;

		&:hover {
			box-shadow: 0 0 15px #2E4164;
		}
	}
}
