#masthead{
    background: #48A4B1;
}

#header{
	
	background: #4C90BB;
}


#circle {
	
	padding-bottom: 36px;
	padding-top: 4px;
	
	img {
	    margin-bottom: 20px;
	    border-radius: 50%;
	    height: 250px;
	    width: 250px;
    	 box-shadow:
        0 0 60px 30px #fff;
        -webkit-transition: -webkit-transform 2.5s ease-out;
    	-moz-transition: -moz-transform 2.5s ease-out;
    	transition: transform 2.5s ease-out;

	}

}

.spin{
			-webkit-transform: rotateZ(1440deg);
    		-moz-transform: rotateZ(1440deg);
    		transform: rotateZ(1440deg);
    	}

.tossing{
		animation-name: tossing;
		-webkit-animation-name: tossing;	

		animation-duration: 2.5s;	
		-webkit-animation-duration: 2.5s;

		animation-iteration-count: infinite;
		-webkit-animation-iteration-count: infinite;
	}

	@keyframes tossing {
		0% {
			transform: rotate(-4deg);	
		}
		50% {
			transform: rotate(4deg);
		}
		100% {
			transform: rotate(-4deg);	
		}						
	}

	@-webkit-keyframes tossing {
		0% {
			-webkit-transform: rotate(-4deg);	
		}
		50% {
			-webkit-transform: rotate(4deg);
		}
		100% {
			-webkit-transform: rotate(-4deg);	
		}				
	}