body {
    width: 100%;
    height: 100%;
}

html {
    width: 100%;
    height: 100%;
}

.social{

    margin-top: 10px;  

    li{
        display: inline-block;
        padding-right: 5px;
        padding-left: 5px;
    }
    
    a{
        color:white;
    }

    .facebook-icon {
        color: #3b5998;
    }

    .github-icon{
        color: #000;
    }

    .twitter-icon{
        color: #00aced;
    }

    .instagram-icon{
        color: #A97D62;
    }

    .linkedin-icon{
        color: #0274B3;
    }


}

@media(min-width:767px) {
    .navbar {
        color: #ecf0f1;
        padding: 10px 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .top-nav-collapse {
        padding: 0;
    }
}


#masthead {
   padding-top: 145px;
   padding-bottom: 16px;
}

#work {
    padding-top: 45px;
    padding-bottom: 60px;
}

#hero {
    padding-top: 45px;
}
